<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <title>Remember</title>
    <link rel="stylesheet" href="css/main.min.css"/>
    <script src="js/app.bundle.js"></script>
</head>
<body ng-controller="ApplicationController">
<div class="page" ng-controller="LayoutController">

    <div ng-include="tpl.header.url"></div>

    <div class="container-fluid">
        <div class="row has-flex-panels">
            <div ng-class="xp.determineClass(tpl.search.name)">
                <div class="panel-inner">
                    <flex-panel ng-click="xp.toggle(tpl.search.name)"></flex-panel>
                    <div class="col-content" ng-include="tpl.search.url"></div>
                </div>
            </div>
            <div ng-class="xp.determineClass(tpl.view.name)">
                <div class="panel-inner">
                    <flex-panel ng-click="xp.toggle(tpl.view.name)"></flex-panel>
                    <div class="col-content">
                        <div class="preview-container"></div>
                    </div>
                </div>
            </div>
            <div ng-controller="EntryController" ng-class="xp.determineClass(tpl.write.name)">
                <div class="panel-inner">
                    <flex-panel ng-click="xp.toggle(tpl.write.name)"></flex-panel>

                    <div class="col-content">
                        <form role="form">
                            <div class="form-group">
                                <label class="sr-only" for="entry">Body</label>
                                <entry-markdown preview-el=".preview-container"></entry-markdown>
                                <p class="help-block">Format your entry as <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">markdown</a>. Please note that entries will currently not be saved.</p>
                            </div>

                            <div class="btn-group">
                                <a title="Save entry and continue writing on it" href="#" class="btn btn-primary" ng-disabled="!xp.write" id="entry-save-btn" tabindex="2" ng-click="saveEntry()">
                                    <span class="fui-folder"></span>
                                </a>
                                <a title="Create new entry and save current" href="#" class="btn btn-primary" ng-disabled="!xp.write" id="entry-close-btn" tabindex="3" ng-click="closeAndNew()">
                                    <span class="fui-check"></span>
                                </a>
                                <a title="Create new entry without saving current" href="#" class="btn btn-primary" ng-disabled="!xp.write" id="entry-reset-btn" ng-click="resetEntry()">
                                    <span class="fui-plus"></span>
                                </a>
                                <a title="Delete all saved entries" href="#" class="btn btn-primary" ng-disabled="!xp.write" id="entry-destroy-btn" ng-click="deleteAll()">
                                    <span class="fui-loop"></span>
                                </a>
                            </div>

                        </form>
                    </div>
                </div><!-- /.panel-inner -->
            </div>
        </div>
    </div><!-- /.container-fluid -->

</div>
</body>
</html>
