<div ng-controller="EntryController">

    <form role="form" class="" name="search-form" action="#" method="get">
        <div class="form-group">
            <input type="text" class="form-control" id="search-term" placeholder="Filter entries.." ng-model="keyword">
        </div>
    </form>

    <ul class="list-group">
        <li class="entry-item-animate" ng-repeat="entry in entriesShort | orderBy:'-createdAt' | filter:keyword">
            <article class="smooth-brd list-group-item list-group-item-inner is-clickable" ng-click="broadcastEntryLoad(entry.id)">

                <p><small>{{entry.prettyDate}} | {{entry.author}}</small></p>
                <div ng-bind-html="entry.excerpt"></div>

                <div class="btn-group">
                    <a title="Delete this entry" href="#" class="btn btn-primary" ng-disabled="!xp.search" ng-click="deleteAndNew(entry.id, false, $index)">
                        <span class="fui-cross"></span>
                    </a>
                </div>

            </article>
        </li>
    </ul>

</div>
