extends ../layout
block content
    .jumbotron
        .container-fluid
            h1.text-center Profile
            p Edit your profile here
block head
    script(src="/js/pwstrength-bootstrap-1.2.0.min.js")
    script(src="/js/user.js")