extends ../layout
block content
    .jumbotron
        .container-fluid
            h1.text-center Register

            div.row
                div.col-md-3
                div.col-md-6
                    form(role='form', id='register', method='post', action='/user/register')
                        div.form-group
                            input.form-control#field-email(type='email', placeholder='Your email', name='email')
                        div.form-group
                            input.form-control#field-password(type='password', placeholder='Password', name='password')
                        div.form-group
                            input.form-control#field-confirm-password(type='password', placeholder='Confirm password', name='confirm-password')

                        button.btn.btn-default(type='submit') Register
                div.col-md-3
block head
    script(src="/js/pwstrength-bootstrap-1.2.0.min.js")
    script(src="/js/user.js")