body {
    padding-top: 50px;
}

.page {
    padding-top: 40px;
}

article {
    margin-bottom: 15px;
}

.content-body {
    max-height: 200px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 6px 6px 0 0;
    padding: 0;
    cursor: pointer;
}

.content-body:hover {
    border: 1px solid #aaa;
}

.content-body.opened {
    max-height: initial;
    cursor: default;
}

.content-body {
    padding: 15px;
}

.content-body > :first-child {
    margin-top: 0 !important;
}

.content-body > :last-child {
    margin-bottom: 0 !important;
}

.toggle-height {
    display: none;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    background-image: url('../img/arrow-down.png');
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 24px;
}

.toggle-height:hover {
    background-color: #ddd;
}

.content-body.opened .toggle-height {
    background-image: url('../img/arrow-up.png');
    cursor: pointer;
}

.content-body:hover .toggle-height {
    /* display: block; */
}