extends layout
block content
    .jumbotron
        .container-fluid.text-center
            h1.text-center Remember
            p.text-center
                | Take notes about things as they happen, without interrupting your flow!

            a.btn.btn-lg.btn-primary(href='/user/login')
                i.glyphicon.glyphicon-user
                |    Login

